.flash {
  width: 100%;
  padding: 1em;
  margin: auto;
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  transition: opacity 3s ease-in-out;
  opacity: 1;
}

.flash.error {
  background-color: #f3e1e4;
}

.flash.success {
  background-color: #c8ffd6;
}
.flash.hide-opacity {
  opacity: 0;
}
